<div class="row">
    <div class="col-md-4 center">
        <div class="login-box panel panel-white">
            <div class="panel-body">
                <a href="index.html" class="logo-name text-lg text-center">Sign Up with Zolo</a>

                <p class="text-center m-t-md" style="margin-top: 5px;">Lorem ipsum dolor sit amet!</p>

                <form class="m-t-md" name="myForm" novalidate>
                    <h4>{{response.message}}</h4>

                    <div class="input-group m-b-sm">
                        <span class="input-group-addon" id="basic-addon1"><img
                                src="https://maxcdn.icons8.com/iOS7/PNG/25/Very_Basic/contacts-25.png" title="Contacts"
                                width="20"></span>
                        <input style="
                     border-radius: 0px 4px 4px 0px;
                     " type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" id="name"
                               name="name" ng-model="userData.name" ng-minlength="6" ng-maxlength="10" required/>
                        <!--<span ng-show="myForm.name.$invalid && !myForm.name.$pristine" class="help-block"> user name required!</span>-->
                    </div>
                    <span ng-show="myForm.name.$error.minlength" class="help-block">Username is too short.</span>
                    <span ng-show="myForm.name.$error.maxlength" class="help-block">Username is too long.</span>

                    <div class="input-group m-b-sm">
                        <span class="input-group-addon" id="basic-addon3"><img
                                src="https://maxcdn.icons8.com/iOS7/PNG/25/Messaging/message-25.png" title="Message"
                                width="20"></span>
                        <input style="
                     border-radius: 0px 4px 4px 0px;
                     " type="email" class="form-control" name="email" placeholder="Email"
                               aria-describedby="basic-addon1" ng-model="userData.email" required>
                    </div>
                    <span ng-show="myForm.email.$invalid && !myForm.email.$pristine" class="help-block"> Valid email  required!</span>

                    <div class="input-group m-b-sm">
                        <span class="input-group-addon" id="basic-addon2"><img
                                src="https://maxcdn.icons8.com/iOS7/PNG/25/Very_Basic/key-25.png" title="Key"
                                width="20"></span>
                        <input style="
                     border-radius: 0px 4px 4px 0px;
                     " type="password" class="form-control" name="password" placeholder="Password"
                               aria-describedby="basic-addon1" ng-model="userData.password" ng-minlength="6"
                               ng-maxlength="10" required>
                    </div>
                    <span ng-show="myForm.password.$invalid && !myForm.password.$pristine" class="help-block"> Password must be greater than 6 charector and less than 10 charector!</span>

                    <div class="input-group m-b-sm">
                        <span class="input-group-addon" id="basic-addon"><img
                                src="https://maxcdn.icons8.com/iOS7/PNG/25/Very_Basic/key-25.png" title="Key"
                                width="20"></span>
                        <input style="
                     border-radius: 0px 4px 4px 0px;
                     " type="password" name="confirm_password" class="form-control" placeholder="Confirm Password"
                               aria-describedby="basic-addon1" ng-model="userData.password_confirmation"
                               ng-minlength="6" ng-maxlength="10" required>
                    </div>
                    <span ng-show="myForm.confirm_password.$invalid && !myForm.confirm_password.$pristine"
                          class="help-block"> Confirm Password must be greater than 6 charector and less than 10 charector!</span>
                    <label>
                        By signing up, I agree to Zolo's <a href="#">Terms of Service</a>.
                    </label>
                    <button type="submit" class="btn btn-primary btn-block m-t-xs"
                            style="font-weight: 500;border-radius: 4px;height: 43px;font-size: 18px;"
                            ng-disabled="myForm.$invalid" ng-click="userRegistration(userData)">Sign Up
                    </button>
                    <button ng-click="pop()">Show a Toaster</button>
                    <div style='background: transparent url("https://cdnil20.fiverrcdn.com/assets/v2_backgrounds/bg-1px-grey-divi-437f1a1ff5ca3ab9db09cb43bbfbc380.png") repeat-x left 9px;
                  text-align: center;
                  height: 16px;
                  padding-bottom: 20px;margin-top: 15px;'><span style="background-color: #fff;
                  font-size: 13px;
                  line-height: 22px;
                  text-transform: lowercase;
                  padding: 0 10px;">Or connect with</span></div>
                    <div class="row" align="center" style="padding-top: 15px;">
                        <div>
                            <img src="img/social.png">
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer" style="padding-top: 0px;padding-bottom: 10px;">
                <p style="margin-bottom: 0px" class="text-center m-t-xs text-sm">Already have an account? <a
                        href="#/login">Login</a></p>
            </div>
        </div>
    </div>
</div>