<html ng-app="CandyBrush">
  <head>
    <title>Candybrush Frontend</title>
    <link rel="stylesheet" href="assets/styles/bootstrap.css"></link>
    <link rel="stylesheet" href="assets/styles/bootstrap-theme.css"></link>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
            <a href="/#/">CandyBrush</a>
          </div>
        </div>
        <nw-page-nav></nw-page-nav>
      </div>
    </nav>
    <div ng-view class="container-fluid"></div>
  </body>

  <!-- vendor -->
  <script src="assets/javascript/vendor/jquery-2.1.3.min.js"></script>
  <script src="assets/javascript/vendor/angular.js"></script>
  <script src="assets/javascript/vendor/angular-route.js"></script>
  <script src="assets/javascript/vendor/angular-resource.js"></script>
  <script src="assets/javascript/vendor/bootstrap.js"></script>
  <script src="assets/javascript/vendor/ngGravatar.js"></script>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
  <script src="assets/javascript/vendor/ngInfiniteScroll-1.0.0/build/ng-infinite-scroll.min.js"></script>



  <!-- UI form validation -->
<script src="assets/javascript/vendor/angular-ui-form-validation/dist/angular-ui-form-validation.js">
</script>


  <!-- ng-s3upload file aws server -->
  ng-s3upload-0.1.2
  <script src="assets/javascript/vendor/ng-s3upload-0.1.2/build/ng-s3upload.min.js"></script>
  <script src="assets/javascript/vendor/ng-s3upload-0.1.2/build/ng-s3upload.js"></script>

  <!-- sanitize file-->

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>


  <!-- App -->
  <script src="assets/javascript/app.js"></script>
  <script src="assets/javascript/routes.js"></script>

  <!-- Directives -->
  <script src="assets/javascript/directives/nwPageNav.js"></script>
  <script src="assets/javascript/directives/nwCategorySelector.js"></script>
  <script src="assets/javascript/directives/title.js"></script>

  <!-- Controllers -->
  <script src="assets/javascript/controllers/AddonController.js"></script>
  <script src="assets/javascript/controllers/BadgeController.js"></script>
  <script src="assets/javascript/controllers/CommissionController.js"></script>
  <script src="assets/javascript/controllers/SendResetPasswordMail.js"></script>
  <script src="assets/javascript/controllers/ForgotPasswordController.js"></script>
  <script src="assets/javascript/controllers/ResetPasswordController.js"></script>
  <script src="assets/javascript/controllers/ActivateController.js"></script>
  <script src="assets/javascript/controllers/noteIndexController.js"></script>
  <script src="assets/javascript/controllers/noteShowController.js"></script>
  <script src="assets/javascript/controllers/noteEditController.js"></script>
  <script src="assets/javascript/controllers/noteCreateController.js"></script>
  <script src="assets/javascript/controllers/usersShowController.js"></script>
  <script src="assets/javascript/controllers/usersIndexController.js"></script>
  <script src="assets/javascript/controllers/AuthenticationController.js"></script>
  <script src="assets/javascript/controllers/RegistrattionController.js"></script>
  <script src="assets/javascript/controllers/UsersProfileController.js"></script>
  <script src="assets/javascript/controllers/PortfolioController.js"></script>
  <script src="assets/javascript/controllers/MessagesController.js"></script>
  <script src="assets/javascript/controllers/MessagesController.js"></script>
  <script src="assets/javascript/controllers/AdminController.js"></script>
  <script src="assets/javascript/controllers/WalletController.js"></script>
  <script src="assets/javascript/controllers/PackageController.js"></script>
  <script src="assets/javascript/controllers/PackageShowController.js"></script>
  <script src="assets/javascript/controllers/CategoryController.js"></script>
  <script src="assets/javascript/controllers/BonusController.js"></script>
  <script src="assets/javascript/controllers/BookingController.js"></script>
  <script src="assets/javascript/controllers/TagController.js"></script>
  <script src="assets/javascript/controllers/NotificationController.js"></script>





  <!-- Filters -->
  <script src="assets/javascript/filters/categoryFilter.js"></script>

  <!-- Satellizer -->

  <!-- Services -->
  <script src="assets/javascript/services/Profile.js"></script>
  <script src="assets/javascript/services/Portfolio.js"></script>
  <script src="assets/javascript/services/Commission.js"></script>
  <script src="assets/javascript/services/ForgotPassword.js"></script>
  <script src="assets/javascript/services/Activate.js"></script>
  <script src="assets/javascript/services/Category.js"></script>
  <script src="assets/javascript/services/Wallet.js"></script>
  <script src="assets/javascript/services/User.js"></script>
  <script src="assets/javascript/services/Addon.js"></script>
  <script src="assets/javascript/services/Messages.js"></script>
  <script src="assets/javascript/services/note.js"></script>
  <script src="assets/javascript/services/user.js"></script>
<!--  <script src="assets/javascript/services/category.js"></script>-->
  <script src="assets/javascript/services/authentication.js"></script>
  <script src="assets/javascript/services/Registration.js"></script>
  <script src="assets/javascript/services/Packages.js"></script>
  <script src="assets/javascript/services/Package.js"></script>
  <script src="assets/javascript/services/Bonus.js"></script>
  <script src="assets/javascript/services/Booking.js"></script>
  <script src="assets/javascript/services/Tags.js"></script>
  <script src="assets/javascript/services/Badges.js"></script>
  <script src="assets/javascript/services/Notification.js"></script>
</html>